.zen-old-mincho-regular {
    font-family: "Fraunces", serif;
    font-weight: 400;
    font-style: normal;
}
html {
    margin: 0 !important;
}

body {
    background: #ece3d1;
}

p, a, button, input, h1, h2, h3, h4, h5 {
    color: #37322e;
}

.quiz-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 200px 20px;
    font-family: "Fraunces", serif;
}

.quiz-container.-ishi {
    background: url("../images/hanzakai/ishi.webp") no-repeat right top/60%;
}
.quiz-container.-kinoshita {
    background: url("../images/hanzakai/kinoshita.webp") no-repeat right top/60%;
}
.quiz-container.-kyokai {
    background: url("../images/hanzakai/kyokai.webp") no-repeat right top/60%;
}
.quiz-container.-tategu {
    background: url("../images/hanzakai/tategu.webp") no-repeat right top/60%;
}
.quiz-container.-monpe {
    background: url("../images/hanzakai/monpe.webp") no-repeat right top/60%;
}
.quiz-container.-urushi {
    background: url("../images/hanzakai/urushi.webp") no-repeat right top/60%;
}
.quiz-container.-paper {
    background: url("../images/hanzakai/paper.webp") no-repeat right top/60%;
}
.quiz-container.-yoshihara {
    background: url("../images/hanzakai/paper.webp") no-repeat right top/60%;
}
.quiz-container p,
.quiz-container a {
    font-size: 20px;
}
.quiz-container input,
.quiz-container button {
    font-size: 18px;
}

.quiz-section img {
    width: 60%;
}
.intro {
    margin-bottom: 40px;
}
.intro, .quiz-section, .result-section {
    margin-bottom: 30px;
}
.intro img {
    display: block;
    width: 60%;
    text-align: center;
}
.quiz-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
.option-button {
    padding: 10px 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    transition: all 0.3s;
    text-align: left;
}
.option-button:hover {
    background: #f5f5f5;
}
.option-button.selected {
    border-color: #204637;
    background: #e7f1ff;
}
.submit-button {
    padding: 16px 32px;
    background: #204637;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-button:disabled {
    background: #ccc;
    cursor: not-allowed;
}
.text-input {
    display: block;
    width: calc(100% - 48px);
    max-width: 100%;
    padding: 18px 24px;
    margin: 0 0 20px;
}
.hidden {
    display: none;
}
.feedback {
    padding: 15px;
    margin: 40px 0 10px;
    border-radius: 5px;
}
.feedback a {
    display: block;
    text-decoration: underline;
    margin: 20px 0;
}
.feedback.correct {
    background: #d4edda;
    color: #155724;
}
.feedback.incorrect {
    background: #f8d7da;
    color: #721c24;
}
.feedback-image {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 10px 0;
}